# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# hacer cambio serve -s build a start para que funcione
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
# production
/build

# misc
# serve -s build
#https://serene-chamber-97362.herokuapp.com
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
/amplify

npm-debug.log*
yarn-debug.log*
yarn-error.log*


