.maps {
  margin: auto;
  color: white;
  background-color: #1fa30d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 90%;
  padding: 2rem 3rem 0rem;
  min-height: 550px;
  border-radius: 20px;
}
.maps-load{
    border-radius: 10px;
    margin: auto;
    width: 90%;
    height: 400px;
    background-color: #59c24b;
}
.mapp{
    border-radius: 10px;
}
.info-text-map-name{
    color: rgb(68, 66, 66);
    font-size: 16px;
    padding: 0 0 2rem;
}