#select-material {
  background-color: #1fa30d;
  width: 90%;
  padding: 1.5rem 3rem 3rem;
  margin: auto;
  min-height: 525px;
  border-radius: 20px;
}
.content-slect {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50% 50%;
}
.nav-reciclaje {
  min-width: 90%;
  min-height: 210px;
  border: 1px solid white;
  display: grid;
  text-decoration: none;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
}
.nav-reciclaje:hover {
  background-color: #59c24b;
}
.img-reci {
  width: 130px;
  width: 130px;
  border-radius: 50%;
  margin: auto;
}
.info-material {
  color: white;
  text-decoration: none;
  font-size: 19px;
  text-align: center;
  padding: 0.5rem;
}
.info-top-select {
  color: white;
  margin: 1rem 0 1.5rem;
}

@media screen and (min-width: 350px) and (max-width: 600px) {
  .content-slect {
    display: block;
  }
  .info-top-select {
    font-size: 19px;
  }
  #select-material {
    width: 100%;
    padding: 1.5rem 1rem 3rem;
  }
}
@media screen and (min-width: 150px) and (max-width: 349px) {
  .content-slect {
    display: block;
  }
  .info-top-select {
    font-size: 19px;
  }
  #select-material {
    width: 100%;
    padding: 1.5rem 1rem 3rem;
  }
}
